<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center;">
  <h1>
    Welcome to StarWars Info Searcher!
  </h1>

  <div style="display: inline-block; text-align: left; border: black 2px solid; padding: 10px">
    <input type="checkbox"  [(ngModel)]='checked' > Show History
    <div *ngIf="checked">
      <ul>
        <li *ngFor='let item of history'><b>[ {{item.time |date:"hh:mm:ss dd/MM/yyyy"}} ] Category</b>: {{item.category}} <b> Id</b>: {{item.id}} 
          <button (click)='historyClick(item.category, item.id)'>Search Again</button>
        </li>
      </ul>
    </div>
    <hr/>
    <app-form (searchEvent)='searchEventHandler($event)' ></app-form>
    <br/>


    <app-result-render *ngIf='currentResult!=null && !loading' [category]='category' [result]='currentResult' [film]='currentFilm' ></app-result-render>
    <h5 *ngIf='loading'>Loading...</h5>
  </div>
</div>