<aside>
    <!-- If error, display error message or instead display name -->
    <h3>{{category=="error"?"Error: ": "Name: "}} {{result.name}}</h3>
    
    <span *ngIf='category=="people"'>
        Height: {{result.height}} <br>
        Mass: {{result.mass}} <br>
        Hair color: {{result.hair_color}} <br>
        Skin_color: {{result.skin_color}} <br>
    </span>
    <span *ngIf='category=="planets"'>
        Rotation Period: {{result.rotation_period}} <br>
        Orbital Period: {{result.orbital_period}} <br>
        Dimaeter: {{result.diameter}} <br>
        Climate: {{result.climate}} <br>
    </span>
    <span *ngIf='category=="species"'>
        Classification: {{result.classification}} <br>
        Designation: {{result.designation}} <br>
        Average Height: {{result.average_height}} <br>
        Skin colors: {{result.skin_colors}} <br>
    </span>
    <span *ngIf='category=="starships" || category=="vehicles"'>
        Model: {{result.model}} <br>
        Manufacturer: {{result.manufacturer}} <br>
        Cost in credits: {{result.cost_in_credits}} <br>
        Length: {{result.length}} <br>
    </span>
    <span *ngIf='category!="error"'>
        <h3>Film: </h3>
        Title: {{film.title}} <br>
        Episode: {{film.episode_id}} <br>
        Director: {{film.director}} <br>
        Producer: {{film.producer}}
    </span>


</aside>