<aside>
    <b>Id: </b> <input type="number" min="1" max="5" [(ngModel)]="id" required #idName='ngModel'>
        
    <b>Categories: </b> <select [(ngModel)]="category" required #categoryName='ngModel' >
                    <option *ngFor = 'let option of options' [value]='option'>{{option}}</option>
                </select>
    <button (click)='emitSearchEvent()' [disabled]='!idName.valid || !categoryName.valid'>Go</button> <br/>
    <span [hidden]='idName.valid || idName.pristine'>Please enter an Id</span>
    <span [hidden]='categoryName.valid || categoryName.pristine'>Please select a category</span>
    
    <hr/>
</aside>
